<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">



       <bean id="controller" class="com.hzit.shop.controller.GoosInfoController">
              <property name="goodsInfoService" ref="s1"></property>
       </bean>

       <bean id="s1" class="com.hzit.shop.services.GoodInfoServceLiuImpl"></bean>

       <bean id="s2" class="com.hzit.shop.services.GoodInfoServceWeiImpl"></bean>
</beans>